/*
Custom card
*/
body {
    background: #e2d8c9;
    background: -webkit-linear-gradient(to right, #eecda3, #efb262);
    background: linear-gradient(to right, #d3d0cc, #c1bfbd);
    min-height: 100vh;
  }

html, body {
  scroll-behavior: smooth;  
  }
  /*
Custom card
*/ 